# {{ ansible_managed }}
# See {{ ossec_server_role_git_repo }}/blob/master/templates/ossec-authd.service

[Unit]
Description=Wazuh authd

[Service]
EnvironmentFile=/etc/ossec-init.conf
Environment=DIRECTORY=/var/ossec

ExecStart=/usr/bin/env ${DIRECTORY}/bin/ossec-authd -p 1515
