<!-- {{ ansible_managed }} -->

<group name="local,syslog,">

  <rule id="100001" level="0">
    <if_sid>1002</if_sid>
    <program_name>object-auditor|account-auditor|container-auditor</program_name>
    <match>, 0 errors|Total errors: 0,|,0 failed audit|, 0 failed audit</match>
    <description>Ignore if no errors</description>
  </rule>
  <rule id="100002" level="0">
    <if_sid>1002</if_sid>
    <program_name>object-replicator|account-replicator|container-replicator|object-updater|account-updater|container-updater</program_name>
    <match>, 0 failures</match>
    <description>Ignore if no errors</description>
  </rule>

  <!-- May  8 14:39:43 vm02 libvirtd: 2018-05-08 14:39:43.786+0000: 28098: error : qemuDomainAgentAvailable:6030 : Guest agent is not responding: QEMU guest agent is not connected -->
  <rule id="100003" level="0">
    <if_sid>1002</if_sid>
    <program_name>libvirtd</program_name>
    <match>Guest agent is not responding</match>
    <description>Ignore guest agent not running errors</description>
  </rule>

  <!-- cpu nodes auto add new multipaths -->
  <rule id="100004" level="0">
    <if_sid>550</if_sid>
    <if_group>syscheck</if_group>
    <hostname>^cpu</hostname>
    <match>Integrity checksum changed for: '/etc/multipath/bindings'</match>
    <description>cpu nodes auto add new multipaths</description>
  </rule>
  <rule id="100005" level="0">
    <if_sid>550</if_sid>
    <if_group>syscheck</if_group>
    <hostname>^cpu</hostname>
    <match>Integrity checksum changed for: '/etc/multipath/wwids'</match>
    <description>cpu nodes auto add new multipaths</description>
  </rule>
  <rule id="100006" level="0">
    <if_sid>550</if_sid>
    <if_group>syscheck</if_group>
    <hostname>^cpu</hostname>
    <match>Integrity checksum changed for: '/etc/openvswitch/conf.db'</match>
    <description>cpu nodes auto add new vxlan networks</description>
  </rule>
  <rule id="100007" level="0">
    <if_sid>550</if_sid>
    <if_group>syscheck</if_group>
    <hostname>^cpu</hostname>
    <match>Integrity checksum changed for: '/etc/libvirt/qemu/</match>
    <description>cpu nodes auto add new instances</description>
  </rule>

  <rule id="100008" level="0">
    <if_sid>5104</if_sid>
    <if_group>kernel</if_group>
    <hostname>^cpu|^vm0</hostname>
    <match>entered promiscuous mode</match>
    <description>cpu nodes auto add new vxlan networks</description>
  </rule>

  <!-- https://pagure.io/freeipa/issue/7032 -->
  <rule id="100009" level="0">
    <if_sid>1002</if_sid>
    <hostname>^ipa</hostname>
    <match>failed to set perms</match>
    <description>Fixed in later release to be a warning</description>
  </rule>

  <rule id="100010" level="0">
    <if_sid>550</if_sid>
    <hostname>^vm0</hostname>
    <match>/etc/libvirt/qemu</match>
    <description>These change from the web interface</description>
  </rule>

  <rule id="100011" level="0">
    <if_sid>18154</if_sid>
    <match>ERROR(2006): PerfNet</match>
    <description>32bit software?</description>
  </rule>

  <rule id="100012" level="0">
    <if_sid>1002</if_sid>
    <if_group>nova-api|glance-api|neutron-server</if_group>
    <hostname>^controller</hostname>
    <match>SSLError: ('timed out',)</match>
    <description>Connections timing out to api endpoints</description>
  </rule>

</group>

