{% for item in ossec_agent_configs %}
<agent_config {{ item.type }}="{{ item.type_value }}">
  <syscheck>
    <!-- Directories to check (perform all possible verifications) -->
{% for directory in item.directories %}
    <directories check_all="{{ directory.check_all }}">{{ directory.dirs }}</directories>
{% endfor %}
    <!-- files we don't watch/ignore -->
    <frequency>{{ item.frequency_check }}</frequency>
{% if item.ignore_files is defined %}
{% for ignore_file in item.ignore_files %}
    <ignore>{{ ignore_file }}</ignore>
{% endfor %}
{% elif item.ignore_files_regex is defined %}
{% for ignore_file_regex in item.ignore_files_regex %}
    <ignore type="regex">{{ ignore_file_regex }}</ignore>
{% endfor %}
{% endif %}
  </syscheck>

  <!-- Files to monitor (localfiles) -->
{% if item.localfiles is defined %}
{% for localfile in item.localfiles %}
  <localfile>
     <log_format>{{ localfile.format }}</log_format>
{% if localfile.command is defined %}
     <command>{{ localfile.command }}</command>
{% else %}
     <location>{{ localfile.location }}</location>
{% endif %}
  </localfile>
{% endfor %}
{% endif %}

  <rootcheck>
    <rootkit_files>/var/ossec/etc/shared/rootkit_files.txt</rootkit_files>
    <rootkit_trojans>/var/ossec/etc/shared/rootkit_trojans.txt</rootkit_trojans>
    <system_audit>/var/ossec/etc/shared/system_audit_rcl.txt</system_audit>
{% if item.cis_distribution_filename is defined %}
    <system_audit>/var/ossec/etc/shared/{{ item.cis_distribution_filename }}</system_audit>
{% endif %}
  </rootcheck>

</agent_config>
{% endfor %}
